@media screen and (min-width: 1280px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__logo {
        margin-top: 34px;
        margin-bottom: 91px;
        padding: 0;
    }
    
    .header__title {
        margin: 0;
        font-size: 96px;
        font-family: "inter black", sans-serif;
        font-style: normal;
        font-weight: 900;
        line-height: 1;
        text-align: center;
    }

    .header__subtitle {
        margin: 32px auto 64px auto;
        font-size: 30px;
        font-family: "inter regular", sans-serif;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        line-height: 1.2;
    }

    .header__image {
        filter: grayscale(1);
    }

    }

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__logo {
        height: 66px;
        margin-top: 30px;
        padding: 0;
    }

    .header__content {
        max-width: 720px;
        margin-top: 90px;
        text-align: center;
        padding: 0;
    }

    .header__title {
        max-width: 530px;
        font-size: 75px;
        font-family: "inter black";
        font-style: normal;
        font-weight: 900;
        line-height: 1;
        margin: 0 auto;
    }

    .header__subtitle {
        margin: 25px auto 30px;
        font-size: 30px;
        font-family: "inter regular";
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
    }

    .header__image {
        max-width: 768px;
        filter: grayscale(1);
    }

}

@media screen and (max-width: 767px) {
   .header {
    display: flex;
    flex-direction: column;
    align-items: center;
   } 

   .header__logo {
    height: 52px;
    margin: 20px auto 50px;
    padding: 0;
   }

   .header__content {
    max-width: 288px;
    text-align: center;
    margin-bottom: 30px
   }

   .header__title {
    font-size: 40px;
    font-family: "inter black";
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    margin: 0 auto;
   }

   .header__subtitle {
    max-width: 288px;
    margin: 16px auto 40px;
    font-size: 16px;
    font-family: "inter regular";
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
   }

   .header__image {
    max-width: 320px;
    filter: grayscale(1);
   }
   
}